.booking-bar{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 10px;
}
.namheade{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
}
.lbnewbooking{
    text-decoration: none;
    color: orange;
}
.btns-1{
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}
.btnsearch{
    border:none;
    border-radius: 5px;
    background-color: orange;
    padding: 10px;
    margin-top: 5px;
    font-weight: bold;
}
.btn-book{
    display: flex;
}
.btns-book{
    display: flex;
    gap: 5px;
    flex-wrap: wrap;

}
.getbtn{
    border:none;
    border-radius: 5px;
    background-color: orange;
    padding: 10px;
    margin-top: 5px;
    font-weight: bold;
}
.bookbtn{
    border: 2px solid orange;
    border-radius: 5px;
    padding: 10px;
    margin-top: 5px;
    font-weight: bold;
}
.btnci{
    border: 2px solid orange;
    border-radius: 5px;
    padding: 10px;
    margin-top: 5px;
    font-weight: bold;
}
.btnco{
    border: 2px solid orange;
    border-radius: 5px;
    padding: 10px;
    margin-top: 5px;
    font-weight: bold;
}
.btnc{
    border: 2px solid orange;
    border-radius: 5px;
    padding: 10px;
    margin-top: 5px;
    font-weight: bold;
}
.lbl-back{
    color: orange;
    font-weight: bold;
}

.bt{
    margin-top: 10px;
}
.booking-head{
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    font-weight:bold ;
    margin-top: 20px;
    margin-bottom: 10px;
    position:sticky;
    top: 0;
    background-color:white;
}

.booking-details{
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-top: 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid lightgrey;
    
}
.head-details{
    border: 1px solid lightgray;

}
.head-newb{
    font-weight: bold;
    margin-bottom: 15px;
}
@media only screen and (max-width: 625px) {
    .booking-details{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .booking-head{
    display: none;
    }

}