.scrolimg{
    background-image: url('../../public/assets/a5a875217423343f.jpg');
    height: 400px;
    /* width: fit-content; */
    background-position: center;
    background-repeat: no-repeat;
}
.check-container{
    display: flex;
    justify-content: space-around;
    margin-top: 4%;
    margin-bottom: 30px;
    
}
.box-one{
    width: 80%;
    gap: 40px;
    border-radius: 15px;
    box-shadow: 30px;
    display: flex;
    justify-content: space-around;
}
@media only screen and (max-width: 700px) {
     .box-one{
       flex-direction: column;
      width: 100%;
       align-content: space-around;

     }


    
  }
 