.d-body{
 display: flex;   
 align-items: center;
 justify-content:space-around;
 border: 1px solid gray;
}
.btncio{
    border:2px solid orange;
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
}
